body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #e6e6fa;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

header {
  background-color: #800080;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 1.5em;
  gap: 5rem;
}

img {
  max-width: 200px;
  height: auto;
}

h1 {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0.15rem;
  text-align: center;
}

hr {
  border: 1px solid #800080;
}

nav {
  background-color: black;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul.open {
  display: block;
  
}

nav a {
  display: block;
  color: #da70d6;
  text-align: center;
  padding: 0.8rem 2vw;
}

nav ul li.active a {
  background-color: rgba(300, 300, 300, 0.5);
  color: white;
}

nav ul li a:hover {
  background-color: rgba(200, 200, 200, 0.5);
  color: #e6e6fa;
}

main {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 5fr 5fr;
  padding: 0.2em;
  margin: 0;
}

h2 {
  color: #000000;
  font-size: 1rem;
}

.card {
  grid-template-columns: 1/2;
  grid-template-rows: 1/2;
  margin-right: 0.5rem;
  border-radius: 25px;
  box-shadow: 0 0 1rem 4px rgba(0 0 0 / 60%);
}

.card h2 {
  background-color: #800080;
  color: white;
  padding: 1rem;
}

.card li {
  list-style-type: none;
}

#card {
  grid-template-columns: 1/2;
  grid-template-rows: 3/5;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 1rem 4px rgba(0 0 0 / 60%);
}

#card h2 {
  background-color: #800080;
  color: white;
  padding: 1rem;
}

footer {
  background-color: #800080;
  color: #ffffff;
  text-align: center;
}
