main#form {
    display: block;

}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


form fieldset {
    margin: 2rem 0;
    border: 5px solid #800080;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: .5rem;
    font-size: 20px;
    
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: 1rem;
    text-align: left;
}

form label.top input, form label.top textarea, form label.top select {
    
    display: block;
    font-size: 1rem;
    border: solid 3px #800080;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
    text-align: left;
    font-size: 18px;

}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    
}

form label.top input:required {
    border-left: #b793d2 solid 8px;
}

form label.top input:required:valid {
    border-left: #301934 solid 8px;
}